body {

    margin: 0;
    background-color: #ddd;
    font-family: sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 10px;
    flex-wrap: wrap;
    box-shadow: 0 0 3px #000;
    gap: 20px;
}

.header a {

    text-decoration: none;
    color: #222
}

.login a {

    padding: 7px;
    border-radius: 5px;
    
}

.login a:first-child {

color: #ddd;

}

.login a:last-child {

color: #005BD1;

}

.iniciar-seccion {
    background-color: #B8D7FF;
    color: #eb0a0aee;
    transition: background-color 0.17s
}

.iniciar-seccion:hover {

background-color: #8ABDFF;


}



.registrarse {

    background-color: #005BD1;
    transition: background-color 0.17s ease;
}

.registrarse:hover {

background-color: #2E89FF;


}

.navar a {

padding: 8px;
border-radius: 4px;
transition: background-color 0.27s

}

.navar a:hover {

background-color: #999;




}

.logo a,
.navar a,
.login a {

    margin: 23px;

}

@media screen and (max-width: 768px) {

    .navar a {

        margin: 6px;

    }


    .login a,
    .logo a {

        margin: 0px;

    }


}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .navar {

        margin: 0;

    }


    .login a {

        margin: 0;
    }

    .navar a {

        margin: 7px;

    }

}