* {

box-sizing: border-box;

}


body {

    margin: 0;
    background-color: #F5F5F5;
    font-family: sans-serif;
    font-size: 1rem;

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.625rem 0.625rem;
    flex-wrap: wrap;
    box-shadow: 0 0 3px #000;
    gap: 20px;
    position: fixed;     
    top: 0;             
    left: 0;
    width: 100%;    
    z-index: 1000;     
}

.header a {

    text-decoration: none;
    color: #222
}

.login a {

    padding: 7px;
    border-radius: 5px;
    
}

.login a:first-child {

color: #ddd;

}

.login a:last-child {

color: #005BD1;

}

.iniciar-seccion {
    background-color: #B8D7FF;
    color: #eb0a0aee;
    transition: background-color 0.17s
}

.iniciar-seccion:hover {

background-color: #8ABDFF;


}



.registrarse {

    background-color: #005A9c;
    transition: background-color 0.17s ease;
}

.registrarse:hover {

background-color: #2E89FF;


}

.navar a {

padding: 8px;
border-radius: 4px;
transition: background-color 0.27s

}

.navar a:hover {

background-color: #999;




}

.logo a,
.navar a,
.login a {

    margin: 23px;

}

.img1 img {

    max-width: 100%;
    height: auto;
    border-radius: 0.3rem;
   

}

.primer-div {

display: flex;
background-color: #fff;
margin-top: 27px;
margin: 75px auto 0;
max-width: 87%;
min-height: 300px;
padding: 25px;
border-radius: 6px;
font-size: 25px;

}

@media screen and (max-width: 768px) {

    .navar a {

        margin: 6px;
display: none;
    }


    .login a,
    .logo a {

        margin: 0px;

    }


}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .navar {

        margin: 0;

    }


    .login a {

        margin: 0;
    }

    .navar a {

        margin: 7px;

    }

}