* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: sans-serif;
  font-size: 1.3rem;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  box-shadow: 0 0 2px #999;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header a {
  text-decoration: none;
  color: #222;
}

/* LOGIN */
.login a {
  padding: 7px;
  border-radius: 5px;
}

.login a:first-child {
  color: #ddd;
}

.login a:last-child {
  color: #005BD1;
}

.iniciar-seccion {
  background-color: #B8D7FF;
  color: #eb0a0aee;
  transition: background-color 0.17s;
}

.iniciar-seccion:hover {
  background-color: #8ABDFF;
}

.registrarse {
  background-color: #005A9c;
  transition: background-color 0.17s ease;
}

.registrarse:hover {
  background-color: #2E89FF;
}

/* NAV */
.navar a {
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.27s;
}

.navar a:hover {
  background-color: #ccc;
}

/* MÁRGENES DE ELEMENTOS */
.logo a,
.navar a,
.login a {
  margin: 23px;
}

/* IMAGEN */
.primer-div img {
  width: 100%;
  max-height: 400px;
  border-radius: 0.7rem;
  object-fit: cover;
}

/* DIVS DEL MAIN */
.divtext {
  max-width: 100%;
  flex: 1 1 200px; 
}

.img1 {
  flex: 1 1 250px;
}

/* CONTENEDOR PRINCIPAL */
.primer-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  margin-top: 27px;
  margin: 100px auto 0;
  max-width: 95%;
  max-height: 10%;
  padding: 40px;
  border-radius: 17px;
  gap: 40px;
}

.primer-div h1 {
  font-size: 45px;
  white-space: normal;
  overflow-wrap: break-word;
}

.primer-div p {
  font-size: 18px;
  white-space: normal;
  color:  #888;
}

.div2 {

display: flex;
justify-content:space-between;
gap: 35px;
margin: 40px;
flex-wrap: wrap;

}

.div2-proveedor {

max-width: 100%;
background-color: #fff;
padding: 30px;
border-radius: 12px;
flex: 1 1 300px;

}
.div2-proveedor p, .div2-cliente p {

color:  #888;
font-size: 16px;

}



.div2-proveedor h2, p, .div2-cliente h2, p{
margin-left: 0px;
white-space: normal;
}




.div2-cliente {
max-width: 100%;
background-color: #fff;
padding: 30px;
border-radius: 12px;
flex: 1 1 300px;


}

.img-proveedor {

width: 45px;
margin: 0;
padding: 0;
background-color: #d2e4fa;
border-radius: 50%;
padding: 7px;


}
.img-cliente {

width: 45px;
margin: 0;
padding: 0;
background-color: #E5F5F1;
border-radius: 50%;
padding: 7px;

}

.btn-proveedor {

padding: 11px;
font-size: 18px;
border-radius: 11px;
background-color: #005A9c;
color: #fff;
border: 1px solid #8ABDFF;

}
.btn-proveedor:hover {

padding: 11px;
font-size: 18px;
border-radius: 11px;
background-color: #256390;
color: #fff;
border: 1px solid #8ABDFF;

}
.btn-cliente {

padding: 11px;
font-size: 18px;
border-radius: 11px;
background-color: #1AA585;
color: #fff;
border: 1px solid #7de4cc;

}

.btn-cliente:hover {

padding: 11px;
font-size: 18px;
border-radius: 11px;
background-color: #399d86;
color: #fff;
border: 1px solid #7de4cc;

}


/* MEDIA QUERIES -------------------- */

@media screen and (max-width: 768px) {
  .navar a {
    margin: 6px;
    display: none;
  }

  .login a,
  .logo a {
    margin: 0px;
  }

  .primer-div {

margin-top: 90px;

  }

 

}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  .navar {
    margin: 0;
  }

  .login a {
    margin: 0;
  }

  .navar a {
    margin: 7px;
  }
}
