* {
    font-family: 'inter', sans-serif;
}

body {

margin: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #F5F5F5;
min-height: 100vh;
box-sizing: border-box;
padding: 40px ;


}

.titular {
    margin-top: 30px;
}

.titular p {
margin-top: 25px;
}

form {

display: flex;
flex-direction: column;
gap: 18px;
padding: 40px;
}


.form-login h1, p {

text-align: center;
margin: 0 30px 0 30px;
}

.form-login p {
    font-size: 17px;
    color: #999;
}

.form-login {

background-color: #fff;
max-width: 80vh;
border-radius: 11px;
min-height: auto;
box-shadow: 0 0 7px 0 #999;


}

form input {

width: 100%;
padding: 9px;
border-radius: 7px;
border: 1px solid #bbb;
}

form input:focus {
    border: 2px solid #89BFF5;
    outline: none;
}

.form-input {

max-width: 100%;


}

form button {

width: 100%;


}

.form-btns {

display: flex;
gap:  6px;
background-color: #F1F5F9;
padding: 15px 3px 15px 3px;
border-radius: 7px;
}

.btns {
    max-width: 100%;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #eee;
    color: #999;
}


.btn {
    max-width: 100%;
    border-radius: 6px;
    padding: 14px;
    font-size: 18px;
    background-color: #0281dc;
    color: #fff;
    border: 1px solid #8ABDFF;
    border-radius: 11px;
}

.yaCuenta {
    display: flex;
    justify-content: center;
    margin: 0;
}

.yaCuenta p , a {
    margin: 2px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
  .yaCuenta p , a {
    margin: 2px;
    font-size: 12px;
}
.form-login h1 {
font-size: 22px;
}
.form-login  p {
font-size: 14px;
}
}
