* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  font-family: sans-serif;
  font-size: 1.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  box-shadow: 0 0 2px #999;
  gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header a {
    text-decoration: none;
}

.navar {
    display: flex;
    gap: 40px;
}
